openai:
  api_key:
  model: gpt-3.5-turbo
  max_tokens: 1024
  temperature: 0.4
  prompt: Translate the following message to {language} in a conversational style. Write nothing else except this translation.
  custom_endpoint:
bot:
  rate_limit: 3
  rate_window: 3600
  rate_message: You've made a lot of requests, try again a bit later!
  empty_message: "I didn't see a message: try replying to one using `!tr {language_code}`"
  unknown_message: "I don't recognise language '{language_code}', sorry!"
languages:
  replace_list: false
  codes:
    en-cockney: Cockney English
    en-pirate: Pirate English
    en-scouse: Scouse English
    lotr-sindarin: Sindarin (Tolkien)
